#!/bin/bash

. "$(chezmoi source-path)/helpers"

echo ''

{{ if eq .chezmoi.os "darwin" -}}

if ! [ -x "$(command -v alacritty)" ]; then
    info '🖥️ Installing alacritty'
    brew install alacritty
    success 'alacritty'
else
    skip 'alacritty'
fi

{{ else if eq .chezmoi.os "linux" -}}

if ! [ -x "$(command -v alacritty)" ]; then
    info '🖥️ Installing alacritty'
    sudo apt update
    sudo apt install alacritty
    success 'alacritty'
else
    skip 'alacritty'
fi

{{ end -}}


echo ''
