#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo ''

{{ if eq .chezmoi.os "linux" -}}

mise use python@latest


{{ else if eq .chezmoi.os "darwin" -}}


# set python@3.10 as global python (AET)
mise use python@latest python@3.10
mise use --global python@3.10

# asdf install
brew install coreutils git

if ! [ -x "$(command -v mise)" ]; then
	info '💻 Installing mise'
	(export MISE_INSTALL_PATH=~/.local/bin/mise && curl https://mise.run | sh)
	success 'mise'
else
	skip 'mise'
fi

{{ end -}}

echo ''
