#!/bin/bash

. "$(chezmoi source-path)/helpers"

echo ''

{{ if eq .chezmoi.os "darwin" -}}

if ! [ -x "$(command -v nvim)" ]; then
    info '🖥️ Installing nvim'
    brew install neovim
    success 'neovim'
else
    skip 'neovim'
fi

{{ else if eq .chezmoi.os "linux" -}}

if ! [ -x "$(command -v nvim)" ]; then
    info '🖥️ Installing neovim'
    sudo apt update
    sudo apt install neovim
    success 'neovim'
else
    skip 'neovim'
fi

{{ end -}}


echo ''
