#!/bin/bash

. "$(chezmoi source-path)/helpers"

echo ''

cd /tmp
git clone --filter=blob:none --sparse https://github.com/ryanoasis/nerd-fonts.git
cd nerd-fonts

fonts=("JetBrainsMono" "Hack" "FiraCode" "CascadiaCode")

for font in "${fonts[@]}"; do
  info "📄 Installing $font Nerd Font"

  git sparse-checkout set patched-fonts/$font

  {{ if eq .chezmoi.os "darwin" -}}

  ./install.sh $font

  {{ else if eq .chezmoi.os "linux" -}}

  ./install.sh $font

  {{ end -}}
  
  success "$font Nerd Font installed"
  echo ''
done

cd ..
rm -rf nerd-fonts
echo ''
