#!/bin/sh

. "$(chezmoi source-path)/helpers"

echo 'About to install hacker tools.'
confirm_proceed

### Project Discovery

echo ''
info 'Installing pdtm (project discovery tool manager)'
mise use -g go:github.com/projectdiscovery/pdtm/cmd/pdtm@latest
success 'pdtm'

PATH="$PDTM_PATH:$PATH"

# Add $HOME/.pdtm/go/bin to PATH for both Bash and Fish
PDTM_PATH="$HOME/.pdtm/go/bin"
PATH_EXPORT_LINE="export PATH=\"$PDTM_PATH:\$PATH\""

# For Bash (using .profile)
if [ -f "$HOME/.profile" ]; then
    if ! grep -q "$PATH_EXPORT_LINE" "$HOME/.profile"; then
        echo "$PATH_EXPORT_LINE" >> "$HOME/.profile"
        echo "PATH updated in .profile"
    else
        echo "PATH already updated in .profile"
    fi
else
    echo "$PATH_EXPORT_LINE" > "$HOME/.profile"
    echo ".profile created and PATH updated"
fi

# For Fish
if [ -n "$FISH_VERSION" ]; then
    fish -c "
        if not contains $PDTM_PATH \$fish_user_paths
            set -U fish_user_paths $PDTM_PATH \$fish_user_paths
            echo 'PATH updated for Fish'
        else
            echo 'PATH already updated for Fish'
        end
    "
fi

pdtm -i nuclei,uncover,proxify,katana,naabu,cvemap,tlsx,dnsx,subfinder,shuffledns,httpx

### Misc

info '🖥️ Installing gau'
mise use -g go:github.com/lc/gau/v2/cmd/gau@latest
success 'gau'

info '🖥️ Installing gowitness'
mise use -g go:github.com/sensepost/gowitness@latest
success 'gowitness'

info '🖥️ Installing cook'
mise use -g go:github.com/glitchedgitz/cook/v2/cmd/cook@latest
success 'cook'

## MACBOOK TOOLS
{{ if eq .chezmoi.os "darwin" -}}

if ! [ -x "$(command -v nmap)" ]; then
    info '🖥️ Installing nmap'
    brew install nmap
    success 'nmap'
else
    skip 'nmap'
fi

## UBUNTU TOOLS
{{ else if eq .chezmoi.os "linux" -}}

if ! [ -x "$(command -v nmap)" ]; then
    info '🖥️ Installing nmap'
    sudo apt update
    sudo apt install nmap
    success 'nmap'
else
    skip 'nmap'
fi

if ! [ -x "$(command -v msfconsole)"]; then
    info 'installing metasploit'

    mkdir -p /tmp/metasploit
    cd /tmp/metasploit

    # Install metasploit
    curl https://raw.githubusercontent.com/rapid7/metasploit-omnibus/master/config/templates/metasploit-framework-wrappers/msfupdate.erb > msfinstall

    chmod 755 msfinstall
    ./msfinstall

    # Create msf database.
    msfdb init
else
    skip 'metasploit'
fi

{{ end -}}

echo ''